<h1>Products view</h1>

<a href="/login">Log in/Register</a>

{{#each allProd}}
    <table>
        <tbody>
        <tr>
            <th>Name: </th>
            <th>Description: </th>
            <th>Price: </th>
            <th>Thumbnail: </th>
            <th>Code: </th>
            <th>Stock: </th>
            <th>Category: </th>
            <th>Id: </th>
        </tr>
        <tr>
            <td><strong>{{this.title}}</strong></td>
            <td>{{this.description}}</td>
            <td>$ {{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this._id}}</td>
        </tr>
        </tbody>
    </table>    
{{/each}}



